<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" targetFramework="net40" version="1.15.0" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net451" />
  <package id="Machine.Specifications" targetFramework="net40" version="0.5.15" />
  <package id="NHibernateX" version="1.3.1.4000" targetFramework="net451" />
  <package id="NUnit" targetFramework="net40" version="2.5.7.10213" />
  <package id="System.Data.SQLite" targetFramework="net40" version="1.0.66.1" />
</packages>